<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-warning">New Appointment</button>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <a 
        href="#" 
        class="list-group-item clearfix"
        *ngFor="let area of services">
            <div class="pull-left">
                <h4 class="list-group-item-heading">{{ area.type }}</h4>
                <p class="list-group-item-text">{{ area.description }}</p>
            </div>
            <span class="pull-right">
                <img [attr.src]="area.imagePath" alt="" class="image-responsive" style="max-height: 50px;">
                <iframe src="https://drive.google.com/file/d/1vu9vQ6kcWZR0HI9yaK695exHQv7N7Tft/preview" width="100" height="100" allow="autoplay"></iframe>
            </span>
        </a>
        <app-service-item></app-service-item>
    </div>
</div>

