<div class="row">
    <div class="col-xs-12">
        <img src="" alt="" class="image-responsive">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>Appointment Details</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle">
                Manage Appointment<span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#"></a>Add to Schedule</li>
                <li><a href="#"></a>Edit Appointment</li>
                <li><a href="#"></a>Delete Service</li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        Description
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        Services
    </div>
</div>